@page
@model IndexModel
@{
    ViewData["Title"] = "Jeroen Previder Paas+";
}

<div class="text-center">
    <h1 class="display-4">Welkom bij Previder PAAS</h1>
    <h2>Dit is de test van Jeroen Masselink</h2>
    <h3>Deze pagina wordt aangeboden door het Previder PaaS Platform</h3>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
